// Default Container Styles

body {
	background:url(../images/concrete_seamless.jpg) repeat;
	color:$brand-gray;
	font-family:$fontfam;
	font-size:16px;
	font-weight:300;
	letter-spacing:0.1em;
	line-height:24px;
}

.container {

	@media(min-width:1190px) {
		width:1100px;
	}

	@media(min-width:1300px) {
		width:1290px;
	}
}

.website-container {
	width:100%;
	overflow:hidden;
}

.search-form label {
	margin-bottom:0;
}

main.main {
	padding-bottom:40px;
	padding-top:30px;

	h1,h2,h3,h4,h5 {
		text-align: center;
	}

	ul, ol {
		margin-bottom:20px;
		margin-left:auto;
		margin-right:auto;
		max-width: 800px;
	}
}

.clear {
	clear:both;
}

// Search Page

.search-results-container {
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;

    .article-container {
    	background:#FFF;
    	float: left;
    	margin:15px;
    	width:100%;

    	img {
    		float: left;
    		padding:20px;
    		width:100%;

    		@media(min-width:$screen-sm-min) {
    			max-width: 250px;
    		}
    	}

    	article {

    		&.page {

    			h2.entry-title::before {
    				content:"Content Page:";
    				display: inline-block;
    				padding-right: 10px;
    			}
    		}

    		&.product {

    			h2.entry-title::before {
    				content:"Product:";
    				display: inline-block;
    				padding-right: 10px;
    			}
    		}

    		&.post {

    			h2.entry-title::before {
    				content:"Blog:";
    				display: inline-block;
    				padding-right: 10px;
    			}
    		}
    	}
    }
}

body.search, body.blog {

	time {
		display: block;
		margin-bottom:-30px;
		text-align: center;
	}

	article {
		background:#FFF;
		margin-bottom:30px;
		padding:30px;
	}
}

// Content Styles

figure {
	max-width:100%;
}

hr {
	border-color:#aaa;
	max-width:800px;
}

form.login, .woocommerce-ResetPassword {
	background:#FFF;
	border:1px solid #d3ced2;
	@include border-radius(5px);
	margin:30px auto !important;
	max-width:800px;
	padding:20px;

	p.lost_password {
		margin-top:20px;
		max-width: 100%;
	}

	input {
		background:#eee;
		border:1px solid #aaa;
		padding:10px 10px 10px 0;
		text-indent: 10px;

		&.button {
			text-indent: 0;
		}
	}

	.woocommerce-form-row {
		width:100% !important;
	}
}

img {
	height:auto;
	max-width:100%;
}


a {
	color:$brand-purple;
	text-decoration:underline;

	&:hover {
		color:$brand-orange;
	}

	img.mds-logo {
		margin-top:42px;
		margin-left:25px;

		@media(min-width:900px) {
			margin-top:0;
			margin-left:0;
		}

		@media(min-width:1190px) {
			margin-top:42px;
			margin-left:25px;
		}
	}
}
.default-btn, .woocommerce a.button, 
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,
.wrps_related_products.wrps_theme_box .wpb_wrps_cart_btn a.button, .wrps_related_products.wrps_theme_box .wpb_wrps_cart_btn a.added_to_cart,
.gform_wrapper .gform_button, .woocommerce input.button,
.nav-previous a, .nav-next a, .woocommerce button.button {
	background:$brand-orange;
	border:0;
	@include border-radius(5px);
	color:#FFF;
	cursor: pointer;
	display:inline-block !important;
	font-family:$fontfam !important;
	font-weight:bold;
	padding:10px 15px;
	text-align:center;
	text-decoration: none;
	text-transform:uppercase;

	&:hover {
		background:$brand-purple;
		color:#FFF !important;
		cursor: pointer;
		text-decoration: none;
	}
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	background:#FFF;
}

input {
	@include border-radius(5px);
}

p {
	margin:0 auto 25px;
	max-width:800px;
	text-align:left;

	@media (min-width:$screen-sm-min) {
		text-align: justify;
	}
}

h1,h2,h3,h4,h5 {
	font-weight:bold;
}

h1 {
	color: $brand-purple;
	font-size:24px;
	margin-bottom:30px;
	text-align:center;

	@media(min-width:$screen-md-min) {
		font-size:36px;
	}
}

h2 {
	font-size:20px;

	@media (min-width:$screen-md-min) {
		font-size:28px;
	}
}

// Header 

header.banner {
	background:#FFF;
}

.wpmenucart-contents a {
	text-decoration:none;
}

.special-offer {
	background: #f36b24; /* Old browsers */
	background: -moz-linear-gradient(left,  #f36b24 0%, #f38a24 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #f36b24 0%,#f38a24 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #f36b24 0%,#f38a24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f36b24', endColorstr='#f38a24',GradientType=1 ); /* IE6-9 */
	color:#FFF;
	padding:10px 0;
	text-align:center;

	p {
		margin:0;
		text-align: center;
		max-width:100%;
	}

	h1,h2,h3,h4,h5 {
		margin:0;
	}
}

a.brand {
	display:block;
	margin:5px 0 0;
	text-align:center;
	text-decoration:none;

	@media (min-width:$screen-md-min) {
		display: inline-block;
	}
}

.contact-phone {
	font-weight:bold;
	font-size:20px;
	margin-top:15px;
	text-align:center;

	p {
		margin-bottom:10px;
		text-align: center;
	}

	@media (min-width:$screen-md-min) {
		margin-top:40px;
	}
}

.top-secondary-menu {
	background:#efefef;
	padding-top:8px;

	a {
		background:#dadada;
		color:$brand-gray;
		display: block;
		margin-top:0;
		padding:5px 6px;
		text-decoration: none;

		@media(min-width:$screen-lg-min) {
			font-size:14px;
			padding:5px 15px;
		}

		&:hover {
			background:$brand-orange;
			color:#FFF;
		}
	}

	#menu-product-info {
		&::after {
			content:"";
			clear:both;
			display: block;
		}
	}
}

.secondary-menu {

	h3 {
		display: none;
	}

	ul {
		display: table;
		margin:auto;
		padding:0;

		li {
			display: inline-block;
			font-size:14px;
			list-style: none;
			margin:0 5px;
		}
	}
}

.top-right {
	padding-bottom:10px;
	padding-top:10px;
	text-align:center;

	@media (min-width:$screen-md-min) {
		text-align:right;
	}

	.top-section {
		font-size:20px;
		padding-bottom:5px;

		@media (min-width: $screen-md-min) {
			width:100%;
		}

		a {
			display: inline-block;

			i {
				border:1px solid $brand-purple;
				@include border-radius(5px);
				padding:8px 10px;

				&.fa-envelope:before {
					display: inline-block;
					margin-bottom:2px;
				}

				&:hover {
					background:$brand-purple;
					color:#FFF;
				}
			}
		}
	}

	.default-btn {
		font-size:16px;
		margin-left:10px;
		min-width: 120px;

		&:hover {
			background:$brand-gray;
		}
	}

	.menu-cart-menu-container {
		display: inline-block;
	}

	.menu-top-nav-container {
		display: inline-block;

		.nav {
			display: flex;
			text-align: right;

			@media(min-width:990px) {
				display: block;
			}

			@media(min-width:1190px) {
				display: flex;
			}

			li {
				display: inline-block;
			}
		}

		.email-icon, .facebook-icon, .gplus-icon {
			line-height: 0;

			a {
				display: block;
				border:1px solid $brand-purple;
				@include border-radius(5px);
				font-size: 0;
				height:44px;
				margin:0 0 0 5px;
				overflow:hidden;
				padding:8px 10px;
				position: relative;
				text-indent: -9999px;
				width:44px;

				&:hover {
					background:$brand-purple;
					color:#FFF;
				}

				&::before {
					content:"\f0e0";
					float: left;
					font: normal normal normal 20px/1 FontAwesome;
					position:absolute;
					top:10px;
					left:11px;
					text-indent: 0;
				}
			}
		}

		.facebook-icon a::before {
			content:"\f082";
			font-size:26px;
			top:9px;
		}

		.gplus-icon a::before {
			content:"\f0d4";
			font-size:26px;
			left:10px;
			top:9px;
		}
	}

	.search-form-container {
		display: inline-block;
		position:relative;
	}

	.search-form {
		border:2px solid $brand-gray;
		display: inline-block;
		padding:0 5px;
	}

	.search-field {
		background-color: transparent;
		background-image: url(../images/search-icon.png);
		background-position: 5px center;
		background-repeat: no-repeat;
		background-size: 24px 24px;
		border: none;
		box-shadow:none;
		cursor: pointer;
		height: 37px;
		margin: 3px 0;
		outline: 0;
		padding: 0 0 0 34px;
		position: relative;
		-webkit-transition: width 400ms ease, background 400ms ease;
		transition:         width 400ms ease, background 400ms ease;
		width: 0;
	}

	.search-submit {
	 	display: none;
	}

	.search-submit-hidden {
		height:1px;
		left:0;
		position:absolute;
		top:0;
		width:1px;
	}

	.search-field:focus {
		background-color: #fff;
		box-shadow:none;
		cursor: text;
		outline: 0;
		width: 150px;
	}
}

// Menu Styles

.nav-primary {
	background:$brand-purple;
	position:relative;
	z-index:9450 !important;

	#mega-menu-wrap-primary_navigation {
		background:transparent;
		margin-bottom:2px;

		@media (min-width:601px) {
			margin-bottom: 0;
		}

		.mega-menu-toggle {
			background:transparent;
			border:1px solid #FFF;
			margin:5px 0;
		}

		ul#mega-menu-primary_navigation {
			display: none;

			@media (min-width:601px) {
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: row;
				flex-direction: row;
				margin: 0 -5px;
				width:100%;
			}

			li {

				@media (min-width:601px) {
					flex-grow: 1;
					position: static;
					width:33%;
				}

				a.mega-menu-link {
					background:#491a6c;
					font-size: 16px;
					margin:2px 0;
					text-align: center;
					width:100%;

					@media (min-width:601px) {
						border-left:5px solid $brand-purple !important;
						border-right: 5px solid $brand-purple !important;
						margin:0;
					}
				}

				&.mega-menu-item-has-children a.mega-menu-link:after {
					background:url(../images/menu-arrow.png) no-repeat;
					background-size:10px 6px; 
					background-position:bottom center;
					content:"";
					float: right;
					height: 15px;
					margin-right: 10px;
					margin-top:10px;
					padding-top:5px;
					width:10px;

					@media(min-width:$screen-md-min) {
						background:url(../images/menu-arrow.png) no-repeat;
						background-size:20px 12px; 
						background-position:bottom center;
						height: 20px;
						width:20px;
					}
				}

				&.mega-menu-item-has-children:hover a.mega-menu-link:after {
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					transform: rotate(180deg);
					background-position:top center;
				}

				.mega-sub-menu {
					background:#333;
					left: 0;
					padding:15px 0;
					position:absolute;
					width:100%;

					@media (min-width:601px) {
						margin-left:5px;
					}

					li.mega-menu-item {
						display: block;
						padding:5px 15px;
						width:100%;

						@media (min-width:601px) {
							display:inline-flex;
							float: none;
							width:33%;
						}

						a.mega-menu-link {
							background: transparent;
							border:1px solid $brand-orange !important;
							border-radius:5px !important;
							color:#FFF;
							font-size:14px;
							font-weight: normal !important;
							padding:5px;

							@media(max-width:1200px) {
								min-height: 60px;
							}

							@media(max-width:500px) {
								min-height: auto;
							}

							&:hover {
								background:$brand-orange;
								color:#FFF;
							}
						}
					}
				}
			}
		}
	}
}

// Slider

.slider {
	.animatedblocks {

		&::after {
			background-color: hsla(0, 0, 0, .3);
			content:"";
			height: 100%;
			left:0;
			position: absolute;
			top:0;
			width:100%;
		}
	}

	.text-container {
		position: absolute;
		text-align: center;
		top:60px;
		width:100%;

		h2 {
			font-size:40px;
			font-weight: bold;
			margin-bottom:30px;
			text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.79);
		}
	}

	.rsUni .rsArrow {

		@media(min-width:$screen-md-min) {
			background-color: hsla(0, 0, 0, .4);
		}
	}
}

// Hero Banner 

.hero-banner {
	background:url(../images/Superior-Glove-Puncture-Resistant-Hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#FFF;
	min-height:290px;
	padding-bottom:20px;
	position: relative;
	width:100%;

	.container {
		position:relative;
		z-index: 1000;
	}

	&::after {
		background-color: hsla(0, 0, 0, .75);
		content:"";
		height: 100%;
		left:0;
		position: absolute;
		top:0;
		width:100%;
	}

	h1, a {
		color:#FFF;
	}
}

body.term-15 .hero-banner {
	background:url(../images/cut-resistant-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-16 .hero-banner {
	background:url(../images/impact-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-17 .hero-banner {
	background:url(../images/vibration-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-18 .hero-banner {
	background:url(../images/chemical-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-19 .hero-banner {
	background:url(../images/cut-resistant-hero-2.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-21 .hero-banner {
	background:url(../images/arc-flash-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-22 .hero-banner {
	background:url(../images/palmcoated-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-23 .hero-banner {
	background:url(../images/coated-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-24 .hero-banner {
	background:url(../images/hiviz-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-25 .hero-banner {
	background:url(../images/leather-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-26 .hero-banner {
	background:url(../images/mechanics-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-28 .hero-banner {
	background:url(../images/puncture-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-29 .hero-banner {
	background:url(../images/string-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-30 .hero-banner {
	background:url(../images/touch-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-31 .hero-banner {
	background:url(../images/welding-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-32 .hero-banner {
	background:url(../images/winter-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-89 .hero-banner {
	background:url(../images/cut-resistant-sleeve-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-90 .hero-banner {
	background:url(../images/cotton-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-91 .hero-banner {
	background:url(../images/flame-resist-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-93 .hero-banner {
	background:url(../images/puncture-resist-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body.term-147 .hero-banner {
	background:url(../images/cleanroom-hero.jpg) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

// Breadcrumbs

.woocommerce-breadcrumb, .woocommerce .woocommerce-breadcrumb {
	background:#ddd;
	color:#797979;
	margin:20px 0;
	padding:10px;

	a {
		color:$brand-gray;
		text-decoration: underline;

		&:hover {
			color:#333;
		}
	}
}

// Featured Products 
.featured-products {
	background:#FFF;
	border-top:1px solid #ddd;
	padding-bottom:40px;

	h3 {
		color:$brand-purple;
		font-size:34px;
		padding:30px 0;
		text-align: center;
	}

	.woocommerce {

		.product_list_widget {
			display: table;
			margin:0 auto;
			width:auto;

			&::after {
				content:"";
				clear:both;
				display: block;
				width:100%;
			}

			li {
				padding:15px;
				width:100%;

				@media (min-width:$screen-sm-min) {
					display: table-cell;
					float: none;
					width:310px;
				}

				a {
					display: inline-block;
					position:relative;
					width:100%;

					.product-title {
						color:#000;
						display: block;
						float:left;
						font-weight: normal;
						padding:15px;
						text-align: center;
					}

					&:hover .product-title {
						color:$brand-orange;
					}
				}

				.sku_wrapper, .woocommerce-Price-amount {
					display: none;
				}

				img {
					width:100% !important;
				}
			}
		}
	}
}

// Testimonials

.testimonials-container {
	background:url(../images/testimonials-bg.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#FFF;
	padding:30px 0;
	position:relative;
	text-align:center;
	width:100%;

	p {
		text-align: inherit;
	}

	.widget {
		position:relative;

		h4 {
			font-weight: normal;
			line-height: 28px;
			margin:10px auto 25px;
			max-width: 500px;
			padding-bottom:20px;
			position:relative;

			&::after {
				background:$brand-orange;
				bottom:0;
				content:"";
				display: block;
				height: 4px;
				left:50%;
				margin-left:-15px;
				position: absolute;
				width:30px;
			}
		}

		img {
			border:4px solid $brand-orange;
			border-radius:50%;
			max-width:150px;
		}
	}

	&::before {
		background:#000;
		content:"";
		display: block;
		height:100%;
		left: 0;
		opacity: 0.8;
		position: absolute;
		top:0;
		width:100%;
	}
}

// Recent News

.recent-news {
	background:#f8f8f8;
	padding:30px 0;

	.upw-posts {
		float: left;
		width:100%;
	}

	h3 {
		margin-bottom:35px;
		text-align: center;
	}

	p {
		text-align: inherit;
	}

	.upw-posts {
		margin:0 -15px;

		article {
			border:0;
			float: left;
			padding:0 15px;
			width:100%;

			@media(min-width:$screen-sm-min) {
				width:50%;
			}
		}
	}
}

// Strong Footer

.social-bar {
	border-bottom:1px solid #491a6c;
	padding:0 0 30px;
	width:100%;

	h3 {
		margin-top:0;
		text-align: left;
	}

	label {
		display: none !important;
	}

	input {
		color:#000;
		width:100%;
	}

	.gform_wrapper {
		margin:0;

		.gform_body {
			float:left;
			width:70%;

			ul li.gfield {
				margin-top:0;
			}
		}

		.gform_footer {
			clear:none;
			float:left;
			margin:2px 0 0;
			padding:5px;
			width:30%;

			input.gform_button {
				background:$brand-orange;
				border:0;
				@include border-radius(5px);
				color:#FFF;
				font-weight: bold;
				line-height: 22px;
				padding:8px;
				text-transform: uppercase;
				width:100%;

				&:hover {
					background:#000;
				}
			}
		}
	}

	i.fa {
		color:#FFF;
		font-size: 40px;
	}
}

// Footer

footer.content-info {
	background: #55098e; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #55098e 0%, #662d91 50%, #89528e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #55098e 0%,#662d91 50%,#89528e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #55098e 0%,#662d91 50%,#89528e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55098e', endColorstr='#89528e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-top: 5px solid $brand-orange;
	color:#FFF;
	padding:30px 0 0;
	text-align:center;

	.lower-footer {
		border-top:1px solid #984bc5;
		padding-top:30px;
		width:100%;
	}

	p {
		text-align: center;
	}

	.icons p {
		text-align: right;
	}

	.col-fifth {
		float:left;
		padding:0 15px 20px;
		width:100%;

		@media(min-width:$screen-sm-min) {
			padding:0 15px;
			width:20%;
		}
	}

	strong {
		color:$brand-orange;
	}

	p {
		margin-bottom:15px;
	}

	a {
		color:#FFF;

		&:hover {
			color:#dbbbee;
		}

		i {

			&:hover {
				color: $brand-orange;
			}
		}
	}

	.default-btn:hover {
		background:#000;
		opacity: 1;
	}

	.col-fifth h3 {
		margin: 0 0 20px;
		text-align: center;
	}

	.widget_nav_menu {
		ul {
			padding:0;

			li {
				list-style: none;
				margin:5px 0;
				text-align: center;

				a {
					text-decoration: underline;
				}
			}
		}
	}

	.copyright {
		background:#491a6c;
		border-top:1px solid #491a6c;
		color:#FFF;
		margin-top:30px;
		padding:10px 0 20px;
		text-align: center;
	}
}

// Sidebar

.sidebar-content {

	.widget {
		background:#FFF;
		margin-bottom:20px;
		padding:20px;

		.widget_shopping_cart_content {

			.cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
				background:red;
				color:#FFF !important;
				font-family: arial, sans-serif !important;
				padding: 1px 0 0 2px;

				&:hover {
					opacity: 0.3;
				}
			}

			.mini_cart_item img {
				width:100%;
			}

			.button {
				margin-bottom:10px;
				width:100%;
			}
		}
	}
}

body.single-post .sidebar-content .widget, body.blog .sidebar-content .widget {
	background:transparent;
	padding:0;
}

// WooCommerce Styles

p.create-account {
	.checkbox-inline input[type=checkbox], .checkbox input[type=checkbox], .radio-inline input[type=radio], .radio input[type=radio] {
		position:relative;
	}
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	background:#FFF;

	.wc_payment_methods {
		background:#ebe9eb;
		@include border-radius(5px);
	}
}

.woocommerce-orders-table__cell-order-actions {
	text-align:center;

	table.my_account_orders .button {
		margin:0 5px;
	}
}

#ship-to-different-address-checkbox {
	margin-left:5px;
	margin-right:8px;
	outline: 5px solid $brand-orange;
	position:relative;
}

.hideContent {
    overflow: hidden;
    height: 186px;
}

.showContent {
    height: auto;
}

.prod-info {
	border-top:2px solid $brand-purple;
	margin-bottom:25px;
}

.show-more {
	display:inline-block;
	margin-right:15px;
}

.woocommerce-checkout #payment {

	input#place_order {
		float: left;
		padding:20px;
	}

	div.form-row {
		padding:20px 0;
	}
}

#stripe-payment-data p {
	max-width:100%;
}

.woocommerce {

	a.size-chart {
		background:url(../images/size-chart-icon.jpg) no-repeat;
		background-position:0px 4px;
		background-size: 28px 25px;
		color:$brand-gray;
		display: inline-block;
		padding:5px 10px 5px 32px;
		text-decoration: none;

		.und {
			text-decoration: underline;
		}

		&:hover {
			background:url(../images/size-chart-icon-hover.jpg) no-repeat;
		background-position:0px 4px;
		background-size: 28px 25px;
			color:$brand-purple;
		}
	}

	.wc-proceed-to-checkout {
		text-align: right;

		a.checkout-button {
			font-size: 16px !important;
			font-weight: bold !important;
			line-height: 24px;
		}
	}

	#coupon_code {
		width:150px;
	}

	#stripe-payment-data p {
		max-width:100%;
	}

	.cart-shipping-table {
		float: left;
		margin-top:40px;
		width:40%;
	}

	.payment_box.payment_method_cod p {
		max-width: 100%;
	}

	form.woocommerce-checkout {
		background:#FFF;
		padding:10px;

		h3 {
			border-bottom:4px solid $brand-purple;
			color:$brand-purple;
			padding-bottom:10px;
			text-align: left;
			width:100%;
		}

		#ship-to-different-address {

			label {
				display: inline-block;
				margin:0;
			}
		}
	}

	div.product form.cart .variations select {
		min-width: auto;
	}

	.product-offer {
		border-bottom:2px solid #ddd;
		margin-bottom:20px;
	}

	h1.product_title {
		font-size:26px;
		text-align: left;
	}

	.sku_wrapper {
		display: block;
		width:100%;
	}

	.glove-id {
		font-size:14px;
		margin:10px 0;
	}

	.product_list_widget {
		.woocommerce-Price-amount {
			// display: none;
		}
	}

	.woocommerce-pagination ul.page-numbers li {
		background:#FFF;
	}

	div.product p.price {
		background:$brand-purple;
		@include border-radius(5px);
		color:#FFF;
		display: inline-block;
		margin:10px 0 5px;
		padding:10px 20px;
	}

	.sold-by {
		background:#ddd;
		@include border-radius(5px);
		color:#333;
		display: inline-block;
		margin:10px 0 25px;
		padding:10px 20px;
	}

	.prod-logo {
		display: inline-block;
		float: right;
		margin:0;
		padding:10px 0;
	}

	.form-wppp-select.products-per-page {
		float:left !important;
		margin-left:0 !important;
		margin-right: 5px;
	}

	.woocommerce-ordering {
		float: left;
	}

	.woocommerce-result-count {
		float: right;
	}

	.woocommerce-product-search {
		margin-bottom:10px;

		input {
			border:0;

			&.search-field {
				border:1px solid #ddd;
				padding:10px 5px 10px 0;
				text-indent: 10px;
				width:40%;
			}
		}

	}

	ul.products {
		max-width: 100%;
  		width:100%;

		li.product {
			background:#FFF;
			border:1px solid #ddd;
			@include border-radius(5px);
			margin-bottom:30px;
			padding:0 0 40px;
			position:relative;
			text-align: left;
			width:100%;

			@media(min-width:$screen-sm-min) {
				width:46%;
			}

			@media(min-width:$screen-md-min) {
				width:22%;
			}

			&:hover {
				-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
				box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
				border:4px solid $brand-orange;
			}

			img {
				margin:-10px -10px 0;			
			}

			a {
				display: block;
				padding: 10px 10px 0;
			}

			button.button {
				background:$brand-orange;
				bottom:10px;
				color:#FFF;
				left:10px;
				letter-spacing:0.1em;
				padding:10px;
				position:absolute;

				&:hover {
					background:$brand-purple;
				}
			}

			h2.woocommerce-loop-product__title {
				min-height: 100px;
				text-align: left;
			}

			.product-meta.glove-id {
				color:$brand-gray;
			}
		
			.price {

				.woocommerce-Price-amount {
					background:transparent;
					color:#333;
					font-size:24px;
					font-weight: bold;
					margin-top:0;
					padding:5px 0;
				}
			}
		}

	}

	.product-img-box {
		background:#FFF;
		margin-bottom:20px;
		padding:10px;
		text-align: center;

		div.images {
			width:100% !important;
		}

		p {
			text-align: center;
		}

		.description {
			margin-top:15px;

			p {
				margin-bottom: 15px;
			}
		}
	}

	p.price {
		max-width: 100%;
	}

	.entry-summary {
		background:#FFF;
		padding:40px;
	}

	div.product form.cart {
		margin-bottom:0;

		.variations {
			width:auto;

			.label label {
				color:#333;
				font-size:16px;
				padding-top:3px;
			}
		}
	}

	div.product form.cart div.quantity {
		display: block;
		margin-bottom:10px;
		width:100%;
	}

	.woocommerce-variation-add-to-cart .button, .single_add_to_cart_button.button {
		min-width: 40%;
		padding:20px !important;
	}

	ul.cart_list li dl, ul.product_list_widget li dl {
		display: none;
	}

	.related.products {
		float:left;
		margin:30px 0;
		width:100%;

		h2 {
			text-align: center;
		}
	}

	// Related Products Slider


	.wrps_related_products_area {
		padding:30px 0;

		.wrps_related_products_area_title {
			border-bottom:5px solid;
			font-size: 24px;
			padding-bottom:15px;
			text-align: center;
		}

		.wrps_related_products {
			font-family: $fontfam !important;
			position:relative;

			&.wrps_theme_box .wpb-wrps-item {
				background:transparent;
			}

			.wpb_wrps_title {
				font-family: $fontfam !important;
				font-size:16px !important;
				text-transform: none !important;

				a {
					color:$brand-purple;
				}
			}

			.owl-wrapper-outer {
				position:relative;

				.owl-wrapper {
					display: -webkit-flex !important;
					display: flex !important;
					-webkit-flex-direction: row;
					flex-direction: row;

					.owl-item {
						background:#FFF;
						border:1px solid #ddd;
						@include border-radius(5px);
						margin:0 5px;
						padding:0 0 40px;
						position:relative;
						text-align: left;

						&:hover {
							-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
							-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
							box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
							border:4px solid $brand-orange;
						}

						div.product {
							position:static;
						}
					}
				}
			}

			.owl-theme .owl-controls .owl-buttons div {
				background:#FFF !important;
			}

			.wpb_wrps_title, .wpb_wrps_price {
				text-align: left;
			}

			.wrps_related_products.wrps_theme_box figure {
				padding-bottom:20px;
			}

			.wpb-wps-sku {
				text-align: left;
			}

			.wpb_wrps_cart_btn {
				bottom:10px;
				position: absolute;
			}

			.owl-buttons {
				position:static;

				.owl-prev {
					background:$brand-purple !important;
					border:0 !important;
					color:#FFF;
					left:-10px;
					padding:0 !important;
					position:absolute;
					top:200px;

					i {
						color: #FFF;
						display: block;
						font-size: 24px;
						padding:10px 15px 10px 10px;

						&:hover {
							background:$brand-orange;
						}
					}
				}

				.owl-next {
					background:$brand-purple !important;
					border:0 !important;
					color:#FFF;
					right:-10px;
					padding:0 !important;
					position:absolute;
					top:200px;

					i {
						color: #FFF;
						display: block;
						font-size: 24px;
						padding:10px 10px 10px 15px;

						&:hover {
							background:$brand-orange;
						}
					}
				}
			}
		}
	}

	.recently-viewed-products-section {

		h3 {
			border-bottom:5px solid;
			padding-bottom:15px;
			text-align: center;
		}

		ul.product_list_widget {
			margin-left:-5px;
			margin-right:-5px;
			padding-bottom:30px;

			@media(min-width:$screen-sm-min) {
				display: -webkit-flex !important;
				display: flex !important;
				-webkit-flex-direction: row;
				flex-direction: row;
			}

			li {
				background:#FFF;
				border:1px solid #ddd;
				@include border-radius(5px);
				margin:0 5px;
				padding:10px;
				position:relative;
				text-align: left;
				width:100%;

				@media(min-width:$screen-sm-min) {
					width:33%;
				}

				&:hover {
					-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
					-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
					box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
					border:4px solid $brand-orange;
				}

				img {
					width:100%;
				}

				a {
					text-decoration: none;
				}
			}
		}
	}

	.wpb_wrps_title, span.product-title {
		float: left;
		min-height: 100px;
		width:100%;
	}

	div.product span.price{
		color:$brand-purple;
	}

	.shop_table {
		background:#FFF;
	}
}


// WISHLIST BUTTON
#wl-wrapper {

	.wl-intro p {
		max-width:100%;
		text-align: center;
	}

	ul.wl-tabs {
		margin:0;
	}

	.wl-add-to {
		background:#888;
		float:none;
		min-width: 40%;

		&:hover {
			background:$brand-purple;
		}
	}

	.wl-panel {
		padding:10px 20px;
	}

	table.wl-rad-table td {
		padding:5px;
	}
}

// Blog

.col-sm-9 article.post {
	background:#FFF;
	margin-bottom:30px;
	padding:20px;

	time {
		display: block;
		text-align: center;
	}

	p {
		max-width:100%;
	}
}

.posts-navigation {

	.nav-links {
		margin: 0 -15px 20px;

		.nav-previous, .nav-next {
			display: inline-block;
			margin:0 15px;
			width:auto;
		}
	}
}

.category {

	time {
		display: block;
		margin-bottom:-30px;
		text-align: center;
	}

	article {
		background:#FFF;
		margin-bottom:30px;
		padding:30px;
	}
}

.widget_recent_entries, .widget_categories {

	ul {
		margin:0;
		padding:0;

		li {
			list-style: none;
			margin:0;
			padding:0;

			a {
				border:2px solid $brand-purple;
				display: block;
				margin:5px 0 10px;
				padding:10px;
				text-decoration: none;

				&:hover {
					background:$brand-purple;
					color: #FFF;
				}
			}
		}
	}
}

// MY ACCOUNT

.woocommerce-MyAccount-navigation {
	width:32% !important;

	ul {
		margin:0;
		padding:0;

		li {
			list-style: none;
			margin:0;
			padding:0;

			a {
				background:#ddd;
				color:#333;
				display: block;
				float: right;
				margin-bottom: 3px;
				padding:10px;
				text-decoration: none;
				width:95%;

				&:hover {
					background:#FFF;
					border-left:3px solid $brand-purple;
					color: $brand-gray;
					width:100%;
				}
			}

			&.is-active {

				a {
					background:#FFF;
					border-left:3px solid $brand-purple;
					color: $brand-gray;
					width:100%;
				}
			}
		}
	}
}

.woocommerce-MyAccount-content {
	background:#FFF;
	padding:20px;
}


nav.woocommerce-pagination {

	li.current a {
		background: #ebe9eb;
	    color: #8a7e88;
	}
}

// PRINT STYLES

@media print {
	header, aside, footer {
		display: none !important;
	}

	* {
		max-width: 100%;
	}

	main {
		width:100% !important;
	}

	.col-md-4 {
		float:left !important;
		width:25% !important;
	}

	.col-md-8 {
		float:right !important;
		width:70% !important;
	}

	a[href]:after {
    	content: none !important;
  	}

  	iframe {
  		display: none !important;
  	}

	img {
	   max-width: 100% !important;
	}

	p.price, p.sold-by {
		display: inline-block;
		font-size:14px !important;
		width:auto;
	}

	.entry-summary img, .wrps_related_products_area, .recently-viewed-products-section {
		display: none;
	}
}

/* -------------------------------------------------------------------------------------------- */

// BACKEND

body#tinymce {
	background:#FFF;
	font-weight:300;

	p {
		max-width:100%;
	}

	.col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4 , .col-md-3, .col-md-2, .col-md-1 {
		border:2px dashed #ddd;
	}
}