// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #662d91;
$brand-purple:         #662d91;
$brand-orange:		   #f36b24;
$brand-gray:		   #58585a;

// Fonts
$fontfam:	"paralucent", sans-serif;

// Border Radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}